@font-face {
    font-family:'YoungMorin';
    src: url('https://cdn.jsdelivr.net/gh/giozsett/projeto-site-rpg@dia2404/fonts/YoungMorinRegular-JRzjm.ttf') format('opentype');
}
@font-face {
    font-family:'Playfair Display';
    src: url('https://cdn.jsdelivr.net/gh/giozsett/projeto-site-rpg@dia2404/fonts/PlayfairDisplayRegular-ywLOY.ttf') format('opentype');
}
@font-face {
    font-family:'Open Sans';
    src: url('https://cdn.jsdelivr.net/gh/giozsett/projeto-site-rpg@dia2404/fonts/OpenSans-B9K8.ttf') format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: #daeeff;
    padding: 10px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}

h1 {font-family: 'Lucida Sans Unicode';
    font-size: 36px;
    color:rgb(74, 38, 121);
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {font-family: 'Lucida Sans Unicode';
    font-size: 22px;
    color: #0f419e;
}

h3 {font-size: 20px;
    color: #002872;
    text-align: justify;
    width: 100%;
}

h4 {font-family: "Playwrite DE Grund";
    font-size: 20px;
}

p {text-align: justify;
    font-family: 'karla';
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0px;
}

strong {font-size: 18px;}

em {color: #2b69db;
    font-size: 17px;
}

i {color: #0f419e;
    font-size: 16px;}

/**FAZ OS INPUT NUMBER NÃO TEREM AS SETINHAS DE AUMENTAR E DIMINUIR**/
/**DESSE JEITO PRECISA DIGITAR O NÚMERO**/

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[type=button] {width: 40px;
    height: 40px;
    margin-left: 10px;
}

/** ESTILOS REFERENTES AO TESTE DOS INPUTS.**/


.teste-rpg td{ padding: 2px;
    display: flex;
    justify-content: space-arounds;
}

.teste-rpg input[type=number] {width: 40px;
    height: 40px;
    border: 2px solid #002872;
    border-radius: 100%;
    text-align: center;
}

.bonus {width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin-left: 5px;
    border-radius: 100%;
}