@font-face {
    font-family:'YoungMorin';
    src: url('https://cdn.jsdelivr.net/gh/giozsett/projeto-site-rpg@dia2404/fonts/YoungMorinRegular-JRzjm.ttf') format('opentype');
}
@font-face {
    font-family:'Playfair Display';
    src: url('https://cdn.jsdelivr.net/gh/giozsett/projeto-site-rpg@dia2404/fonts/PlayfairDisplayRegular-ywLOY.ttf') format('opentype');
}
@font-face {
    font-family:'Open Sans';
    src: url('https://cdn.jsdelivr.net/gh/giozsett/projeto-site-rpg@dia2404/fonts/OpenSans-B9K8.ttf') format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: #daeeff;
    padding: 10px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

/** CABEÇALHO DO SITE**/
header {display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1 {font-family: 'Lucida Sans Unicode';
    font-size: 50px;
    color:rgb(74, 38, 121);
    margin-top: 20px;
}

/** CORPO DO SITE**/
section {display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: aliceblue;
    border-radius: 20px;
}

/** RODAPÉ DO SITE**/
footer {display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 20px; 
}