*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: #daeeff;
    padding: 10px 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

h1 {font-family: 'Lucida Sans Unicode';
    font-size: 45px;
    color:cornflowerblue;
}